doctype html
head
    title
    meta(content='text/html; charset=utf-8' http-equiv='Content-Type')
    meta(content='width=device-width, initial-scale=1.0' name='viewport')
    //if mso
        xml
            o:officedocumentsettings
                o:pixelsperinch 96
                o:allowpng
    style.
        * {
        box-sizing: border-box;
        }
        body {
        margin: 0;
        padding: 0;
        }
        a[x-apple-data-detectors] {
        color: inherit !important;
        text-decoration: inherit !important;
        }
        #MessageViewBody a {
        color: inherit;
        text-decoration: none;
        }
        p {
        line-height: inherit
        }
        @media (max-width:620px) {
        .icons-inner {
        text-align: center;
        }
        .icons-inner td {
        margin: 0 auto;
        }
        .row-content {
        width: 100% !important;
        }
        .column .border {
        display: none;
        }
        .stack .column {
        width: 100%;
        display: block;
        }
        }
table.nl-container(border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; background-color: #091548;' width='100%')
    tbody
        tr
            td
                table.row.row-1(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; background-color: #091548; background-image: url('images/background_2.png'); background-position: center top; background-repeat: repeat;" width='100%')
                    tbody
                        tr
                            td
                                table.row-content.stack(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; color: #000000; width: 600px;' width='600')
                                    tbody
                                        tr
                                            td.column.column-1(style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; font-weight: 400; text-align: left; vertical-align: top; padding-left: 10px; padding-right: 10px; padding-top: 5px; padding-bottom: 15px; border-top: 0px; border-right: 0px; border-bottom: 0px; border-left: 0px;' width='100%')
                                                table.image_block(border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt;' width='100%')
                                                    tr
                                                        td(style='width:100%;padding-right:0px;padding-left:0px;padding-top:8px;')
                                                            div(align='center' style='line-height:10px')
                                                                img(alt='Main Image' src='images/header3.png' style='display: block; height: auto; border: 0; width: 232px; max-width: 100%;' title='Main Image' width='232')
                                                table.text_block(border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; word-break: break-word;' width='100%')
                                                    tr
                                                        td(style='padding-bottom:15px;padding-top:10px;')
                                                            div(style='font-family: sans-serif')
                                                                div(style='font-size: 14px; mso-line-height-alt: 16.8px; color: #ffffff; line-height: 1.2; font-family: Varela Round, Trebuchet MS, Helvetica, sans-serif;')
                                                                    p(style='margin: 0; font-size: 14px; text-align: center;')
                                                                        span(style='font-size:30px;') Reset Your Password
                                                table.text_block(border='0' cellpadding='5' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; word-break: break-word;' width='100%')
                                                    tr
                                                        td
                                                            div(style='font-family: sans-serif')
                                                                div(style='font-size: 14px; mso-line-height-alt: 21px; color: #ffffff; line-height: 1.5; font-family: Varela Round, Trebuchet MS, Helvetica, sans-serif;')
                                                                    p(style='margin: 0; font-size: 14px; text-align: center;') We received a request to reset your password. Don&rsquo;t worry,
                                                                    p(style='margin: 0; font-size: 14px; text-align: center;') we are here to help you.
                                                                    h1(style='margin: 0; font-size: 40px; text-align: center;') #{otp}
                                                table.button_block(border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt;' width='100%')
                                                    tr
                                                        td(style='padding-bottom:20px;padding-left:15px;padding-right:15px;padding-top:20px;text-align:center;')
                                                            div(align='center')
                                                                //if mso
                                                                    v:roundrect(xmlns:v='urn:schemas-microsoft-com:vml' xmlns:w='urn:schemas-microsoft-com:office:word' href='http://www.example.com/' style='height:41px;width:197px;v-text-anchor:middle;' arcsize='59%' stroke='false' fillcolor='#ffffff')
                                                                        w:anchorlock
                                                                            v:textbox(inset='0px,0px,0px,0px')
                                                                                center(style='color:#091548; font-family:sans-serif; font-size:15px')
                                                                a(href="" style='text-decoration:none;display:inline-block;color:#091548;background-color:#ffffff;border-radius:24px;width:auto;border-top:1px solid #ffffff;border-right:1px solid #ffffff;border-bottom:1px solid #ffffff;border-left:1px solid #ffffff;padding-top:5px;padding-bottom:5px;font-family:Varela Round, Trebuchet MS, Helvetica, sans-serif;text-align:center;mso-border-alt:none;word-break:keep-all;' target='_blank')
                                                                    span(style='padding-left:25px;padding-right:25px;font-size:15px;display:inline-block;letter-spacing:normal;')
                                                                        span(style='font-size: 16px; line-height: 2; word-break: break-word; mso-line-height-alt: 32px;')
                                                                            span(data-mce-style='font-size: 15px; line-height: 30px;' style='font-size: 15px; line-height: 30px;')
                                                                                strong RESET MY PASSWORD
                                                                //if mso
                                                table.divider_block(border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt;' width='100%')
                                                    tr
                                                        td(style='padding-bottom:15px;padding-left:10px;padding-right:10px;padding-top:10px;')
                                                            div(align='center')
                                                                table(border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt;' width='60%')
                                                                    tr
                                                                        td.divider_inner(style='font-size: 1px; line-height: 1px; border-top: 1px solid #5A6BA8;')
                                                                            span &hairsp;
                                                table.text_block(border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; word-break: break-word;' width='100%')
                                                    tr
                                                        td(style='padding-bottom:40px;padding-left:25px;padding-right:25px;padding-top:10px;')
                                                            div(style='font-family: sans-serif')
                                                                div(style='font-size: 14px; mso-line-height-alt: 21px; color: #7f96ef; line-height: 1.5; font-family: Varela Round, Trebuchet MS, Helvetica, sans-serif;')
                                                                    p(style='margin: 0; font-size: 14px; text-align: center;')
                                                                        strong Didn&rsquo;t request a password reset?
                                                                    p(style='margin: 0; font-size: 14px; text-align: center;') You can safely ignore this message.
                table.row.row-2(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt;' width='100%')
                    tbody
                        tr
                            td
                                table.row-content.stack(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; color: #000000; width: 600px;' width='600')
                                    tbody
                                        tr
                                            td.column.column-1(style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; font-weight: 400; text-align: left; vertical-align: top; padding-left: 10px; padding-right: 10px; padding-top: 15px; padding-bottom: 15px; border-top: 0px; border-right: 0px; border-bottom: 0px; border-left: 0px;' width='100%')
                                                table.image_block(border='0' cellpadding='5' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt;' width='100%')
                                                    tr
                                                        td
                                                            div(align='center' style='line-height:10px')
                                                                img(alt='Your Logo' src='images/logo.png' style='display: block; height: auto; border: 0; width: 145px; max-width: 100%;' title='Your Logo' width='145')
                                                table.divider_block(border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt;' width='100%')
                                                    tr
                                                        td(style='padding-bottom:15px;padding-left:10px;padding-right:10px;padding-top:15px;')
                                                            div(align='center')
                                                                table(border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt;' width='60%')
                                                                    tr
                                                                        td.divider_inner(style='font-size: 1px; line-height: 1px; border-top: 1px solid #5A6BA8;')
                                                                            span &hairsp;
                                                table.social_block(border='0' cellpadding='10' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt;' width='100%')
                                                    tr
                                                        td
                                                            table.social-table(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt;' width='156px')
                                                                tr
                                                                    td(style='padding:0 10px 0 10px;')
                                                                        a(href='https://www.facebook.com/' target='_blank')
                                                                            img(alt='Facebook' height='32' src='images/facebook2x.png' style='display: block; height: auto; border: 0;' title='Facebook' width='32')
                                                                    td(style='padding:0 10px 0 10px;')
                                                                        a(href='https://instagram.com/' target='_blank')
                                                                            img(alt='Instagram' height='32' src='images/instagram2x.png' style='display: block; height: auto; border: 0;' title='Instagram' width='32')
                                                                    td(style='padding:0 10px 0 10px;')
                                                                        a(href='https://twitter.com/' target='_blank')
                                                                            img(alt='Twitter' height='32' src='images/twitter2x.png' style='display: block; height: auto; border: 0;' title='Twitter' width='32')
                                                table.text_block(border='0' cellpadding='15' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; word-break: break-word;' width='100%')
                                                    tr
                                                        td
                                                            div(style='font-family: sans-serif')
                                                                div(style='font-size: 12px; font-family: Varela Round, Trebuchet MS, Helvetica, sans-serif; mso-line-height-alt: 14.399999999999999px; color: #4a60bb; line-height: 1.2;')
                                                                    p(style='margin: 0; font-size: 12px; text-align: center;')
                                                                        span(style='')
                                                                            | Copyright &copy; 2021 Your Brand, All rights reserved.
                                                                            br
                                                                            br
                                                                            | Where to find us: 2047 Roosevelt Road
                                                                    p(style='margin: 0; font-size: 12px; text-align: center;')
                                                                        span(style='')
                                                                            br
                                                                            | Changed your mind? You can
                                                                            a(href='http://www.example.com' rel='noopener' style='text-decoration: underline; color: #7f96ef;' target='_blank' title='unsubscribe') unsubscribe
                                                                            |  at any time.
                                                table.html_block(border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt;' width='100%')
                                                    tr
                                                        td
                                                            div(align='center' style='font-family:Varela Round, Trebuchet MS, Helvetica, sans-serif;text-align:center;')
                                                                div(style='height-top: 20px;') &nbsp;
                table.row.row-3(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt;' width='100%')
                    tbody
                        tr
                            td
                                table.row-content.stack(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; color: #000000; width: 600px;' width='600')
                                    tbody
                                        tr
                                            td.column.column-1(style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; font-weight: 400; text-align: left; vertical-align: top; padding-top: 5px; padding-bottom: 5px; border-top: 0px; border-right: 0px; border-bottom: 0px; border-left: 0px;' width='100%')
                                                table.icons_block(border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt;' width='100%')
                                                    tr
                                                        td(style='vertical-align: middle; color: #9d9d9d; font-family: inherit; font-size: 15px; padding-bottom: 5px; padding-top: 5px; text-align: center;')
                                                            table(cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt;' width='100%')
                                                                tr
                                                                    td(style='vertical-align: middle; text-align: center;')
                                                                        //if vml
                                                                            table(align='left' cellpadding='0' cellspacing='0' role='presentation' style='display:inline-block;padding-left:0px;padding-right:0px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;')
                                                                        // [if !vml] <!
                                                                        table.icons-inner(cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; display: inline-block; margin-right: -4px; padding-left: 0px; padding-right: 0px;')
                                                                            // <![endif]
                                                                            tr
                                                                                td(style='vertical-align: middle; text-align: center; padding-top: 5px; padding-bottom: 5px; padding-left: 5px; padding-right: 6px;')
                                                                                    a(href='https://www.designedwithbee.com/' style='text-decoration: none;' target='_blank')
                                                                                        img.icon(align='center' alt='Designed with BEE' height='32' src='images/bee.png' style='display: block; height: auto; margin: 0 auto; border: 0;' width='34')
                                                                                td(style='font-family: Varela Round, Trebuchet MS, Helvetica, sans-serif; font-size: 15px; color: #9d9d9d; vertical-align: middle; letter-spacing: undefined; text-align: center;')
                                                                                    a(href='https://www.designedwithbee.com/' style='color: #9d9d9d; text-decoration: none;' target='_blank') Designed with BEE
// End
