html
  head
    title Verify Your Account
  body
    h1 Verify Your Account
    p Please click the button below to verify your account:
    a(href=`${verificationLink}`) Verify Account
    p Link expires in 24hrs
